body {
	background-color: #eaeded;
}
.checkout {
	margin-top: 15px;
	background: #fff;
	overflow: hidden;
	min-width: 600px;
	border: 1px solid #c9e1f4;
	border-radius: 7.5px;
	padding-top: 10px;
	padding-left: 10px;
	text-align: center;
}
.checkout__ad {
	padding-top: 20px;
	max-width: 200px;
	margin-bottom: 10px;
}
.checkout__left {
	display: flex;
}
.checkout_summary {
	margin-left: 100px;
	text-align: left !important;
}
.checkout__greeting {
	color: red;
}
