.checkout {
	margin: 15px 15px;
	padding: 15px 5px;
	width: 98%;
	height: 150px;
	border: 1px solid rgb(206, 206, 235);
	border-radius: 2px;
}
.checkout__ad {
	width: 100%;
	max-width: 200px;
	margin-bottom: 10px;
}
.checkout__left {
	display: flex;
}
